{{ define "main" }}
<!-- Banner -->
<section id="banner">
  <div class="content">
    <header>
      <h1>{{ .Site.Params.fronttitle | safeHTML }}</h1>
      <p>{{ .Site.Params.frontsubline | safeHTML }}</p>
    </header>
    <p>{{ .Site.Params.frontintro | safeHTML }}</p>
    {{ if isset .Site.Params "learnmorelink" }}
    <ul class="actions">
      <li><a href="{{ .Site.Params.learnmorelink }}" class="button big">{{ .Site.Params.learnmore }}</a></li>
    </ul>
    {{ end }}
  </div>
  <span class="image object">
    <img src="{{ .Site.Params.introimage }}" alt="" />
  </span>
</section>

<!-- Section -->
<section>
  <header class="major">
    <h2>{{ .Site.Params.showcase.title }}</h2>
  </header>
  <div class="features">
    <article>
      {{ if isset .Site.Params.showcase "icon1" }}
      <span class="icon {{ .Site.Params.showcase.icon1 }}"></span>
      {{end}}
      {{ if isset .Site.Params.showcase "image1" }}
      <span class="image object">
        <img class="small img-popup" src="{{ with .Site.Params.showcase.image1 }}{{ . }}{{ end }}" href="{{ with .Site.Params.showcase.image1 }}{{ . }}{{ end }}" />
      </span>
      {{end}}
      <div class="content">
	<h3>{{ .Site.Params.showcase.headline1 }}</h3>
	<p>{{ .Site.Params.showcase.intro1 }}</p>
    {{ if isset .Site.Params.showcase "ref1" }}
      <a href="{{ .Site.Params.showcase.ref1 }}" class="button">Weiter <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      {{ end }}
      </div>
    </article>
    <article>
      {{ if isset .Site.Params.showcase "icon2" }}
      <span class="icon {{ .Site.Params.showcase.icon2 }}"></span>
      {{end}}
      {{ if isset .Site.Params.showcase "image2" }}
      <span class="image object">
        <img class="small img-popup" src="{{ with .Site.Params.showcase.image2 }}{{ . }}{{ end }}" href="{{ with .Site.Params.showcase.image2 }}{{ . }}{{ end }}" />
      </span>
      {{end}}
      <div class="content">
	<h3>{{ .Site.Params.showcase.headline2 }}</h3>
	<p>{{ .Site.Params.showcase.intro2 }}</p>
  {{ if isset .Site.Params.showcase "ref2" }}
    <a href="{{ .Site.Params.showcase.ref2 }}" class="button">Weiter <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    {{ end }}
      </div>
    </article>
    <article>
      {{ if isset .Site.Params.showcase "icon3" }}
      <span class="icon {{ .Site.Params.showcase.icon3 }}"></span>
      {{end}}
      {{ if isset .Site.Params.showcase "image3" }}
      <span class="image object">
        <img class="small img-popup" src="{{ with .Site.Params.showcase.image3 }}{{ . }}{{ end }}" href="{{ with .Site.Params.showcase.image3 }}{{ . }}{{ end }}" />
      </span>
      {{end}}
      <div class="content">
	<h3>{{ .Site.Params.showcase.headline3 }}</h3>
	<p>{{ .Site.Params.showcase.intro3 }}</p>
  {{ if isset .Site.Params.showcase "ref3" }}
    <a href="{{ .Site.Params.showcase.ref3 }}" class="button">Weiter <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    {{ end }}
      </div>
    </article>
    <article>
      {{ if isset .Site.Params.showcase "icon4" }}
      <span class="icon {{ .Site.Params.showcase.icon4 }}"></span>
      {{end}}
      {{ if isset .Site.Params.showcase "image4" }}
      <span class="image object">
        <img class="small img-popup" src="{{ with .Site.Params.showcase.image4 }}{{ . }}{{ end }}" href="{{ with .Site.Params.showcase.image4 }}{{ . }}{{ end }}" />
      </span>
      {{end}}
      <div class="content">
	<h3>{{ .Site.Params.showcase.headline4 }}</h3>
	<p>{{ .Site.Params.showcase.intro4 }}</p>
  {{ if isset .Site.Params.showcase "ref4" }}
    <a href="{{ .Site.Params.showcase.ref4 }}" class="button">Weiter <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    {{ end }}
      </div>
    </article>
  </div>
</section>

<!-- Section -->
{{ if isset .Site.Params.showcase "title2" }}
<section>
  <header class="major">
    <h2>{{ .Site.Params.showcase.title2 }}</h2>
  </header>
  <div class="posts">
    {{ range first 6 ( where .Data.Pages "Section" "referenzen" ) }}
    <article>
      <a href="{{ .Permalink }}" class="image">
	{{ $preview := .Resources.GetMatch "intro" }}
	{{ with $preview }}
	{{ $scaled := .Resize "706x" }}
	<img src="{{ $scaled.RelPermalink }}" alt="" />
	{{ end }}
      </a>
      <h3>{{ .Title }}</h3>
      <p>{{ .Summary }}</p>
      <ul class="actions">
	<li><a href="{{ .Permalink }}" class="button">{{ i18n "morelink" }}</a></li>
      </ul>
    </article>
    {{ end }}
  </div>
</section>
{{ end }}
{{ end }}
